<div *ngIf="event">
  <h2>Nowy event</h2>
  <label for="event-name">Nazwa eventu</label>
  <input id="event-name" [(ngModel)]="event.name" />
  <label for="event-acces">Publiczny event</label>
  <input id="event-acces"  [(ngModel)]="event.acces">
  <label for="event-email"></label>
  <input type="email" id="event-email"  [(ngModel)]="event.email">
  <label for="event-phone"></label>
  <input id="event-phone" type="tel" [(ngModel)]="event.phoneNumber">
  <label for="event-start"></label>
  <input id="event-start" type="datetime-local" [(ngModel)]="event.startTime">
  <button (click)="save()">Dodaj event</button>
</div>
