działa czy nie działa
<div class="form-group">
  <label>Nazwa</label>
  <input
    type="text"
    [(ngModel)]="event.name"
    required
    #username="ngModel"
  />
</div>
<div class="form-group">
  <label>Start</label>
  <input
    type="datetime-local"
    [(ngModel)]="event.startTime"
    required
    #username="ngModel"
  />
</div>
<div class="form-group">
  <label>Publiczny</label>
  <input
    type="checkbox"
    [(ngModel)]="event.acces"
    required
    #username="ngModel"
  />
</div>
<div class="form-group">
  <label>email</label>
  <input
    type="email"
    [(ngModel)]="event.email"
    required
    #username="ngModel"
  />
</div>
<div class="form-group">
  <label>telefon</label>
  <input
    type="text"
    [(ngModel)]="event.phoneNumber"
    required
    #username="ngModel"
  />
</div>
<div class="form-group">
  <label>Miasto</label>
  <input
    type="text"
    [(ngModel)]="event.adress.city"
    required
    #username="ngModel"
  />
</div>
<div class="form-group">
  <label>Ulica</label>
  <input
    type="text"
    [(ngModel)]="event.adress.street"
    required
    #username="ngModel"
  />
</div>
<div class="form-group">
  <label>Numer budynku</label>
  <input
    type="text"
    [(ngModel)]="event.adress.numberOfBuilding"
    required
    #username="ngModel"
  />
</div>

<div class="form-group">
  <ul>
    <li *ngFor="let organizator of organizators">
      {{organizator}}
    </li>

  </ul>
  <input [(ngModel)]="organizatorToAdd">
  <button (click)="addOrganizators()">Dodaj kolejnego organizatora</button>
</div>

<button (click)="save()">dodaj event</button>
