<p>Profil użytkownika</p>
<div class="container" *ngIf="user; else loggedOut">
  <p>
    <strong>Login:</strong>
    {{ user.login }}
  </p>
  <p>
    <strong>Nazwa użytkownika:</strong>
    {{ user.showName }}
  </p>
  <p>
    <strong>Email:</strong>
    {{ user.email }}
  </p>
  <p>
    <strong>Rola:</strong>
  </p>
  <div *ngFor="let role of user.roles">
    <p>{{role.name}}</p>
  </div>

  <div *ngIf="showAdminBoard">
    <button (click)="deleteUser(user.id)">Usuń użytkownika</button>
    <button *ngIf="!changeRoles" (click)="changeRoles = !changeRoles">Zmień role użytkownika</button>
    <div *ngIf="changeRoles">
      <p>Użytkownik
      <input type="checkbox" [(ngModel)]="user_role"></p>
      <p>Moderator
      <input type="checkbox" [(ngModel)]="moderator_role"></p>
      <p>Administrator
        <input type="checkbox" [(ngModel)]="admin_role"></p>
      <button (click)="uodateRoles()">Uaktualnij role</button>
    </div>
  </div>

  <div *ngIf="isOwner">
    <button (click)="hideEvents()" *ngIf="events.length != 0">Ukryj imprezy</button>
    <button (click)="showAccepteEvents(user.id)">Pokaż imprezy w których biorę udział</button>
    <button (click)="showEventsWhichIOrganize(user.id)" *ngIf="showModeratorBoard">Pokaż imprezy, które organizuję
    </button>
  </div>
  <ul *ngFor="let event of events">
    <li>
      <a href="/eventhDetalis/{{event.id}}" class="nav-link">{{event.name}}</a>
    </li>
  </ul>
</div>

<ng-template #loggedOut>
  <a href="/login">Zaloguj się</a>
</ng-template>
